doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hourly Rate Calculator
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/app.css')
  body
    h1.page-header Hourly Rate Calculator
    
    include rates.jade
    include addOption.jade
    
    table#options.table
      thead
        tr
          th Select
          th Description
          th Adjustment
          th Delete
      tbody
        tr.noOptions
          td(colspan=4) You haven't added any options.
    
    include optionTemplate.jade
    
    

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/es5/main.js')
    script(src='./js/es6/main.js')
