doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hourly Rate Calculator
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Hourly Rate Calculator
    
    include baseRate.jade
    
    h3 Add options
    include addOption.jade
    table#options
      tbody      
    
    include optionTemplate.jade
    
    
    
    include calculatedRate.jade
    

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/es5/main.js')
    script(src='./js/es6/main.js')
