div  
  table#option
    tr
      td
        input.selectOption(type='checkbox')
      td.description
      td.amount
      td.delete 
        i.fa.fa-trash

  table#noOption
    tr.noOptions
      td(colspan=4) You haven't added any options.
